<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Túnel Ngrok</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ngrok Manage</h1>
        <form method="post">
            <input type="number" name="porta" placeholder="Port" required>
            <button type="submit">Open</button>
        </form>
        {% if url %}
        <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        {% endif %}
    </div>
</body>
</html>
